*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/test.txt
/front/
/bash.sh

/location_filter_3.html
/adress.html
/filter-improvement.zip
/Frame 1.svg
/location_filter_1.html
/location_filter_5.html
/location_filter_7.html
/RealtBank.svg
/location_filter_2.html
/location_filter.html
/location_filter_4.html
/location_filter_6.html
/location_filter_test_1.html
/t.md
/test.html
/test.json
/test.sql
/ttt.txt
/location-filter/
/location_filter_6_prod.html
/location_filter_7_prod.html
/location_filter_8_final.html
/location_filter_7_prod_2.html
/test.svg
/test_2.svg
/CLAUDE.md
/real-bank-page-settings/
