/* Sidebar Logo Container Styles */
.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.sidebar-logo:hover {
  cursor: pointer;
}

.sidebar-logo picture {
  justify-content: center;
}


.sidebar-logo  {
  border-radius: 8px;
}

.sidebar-logo picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
