@charset "UTF-8";

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../../fonts/PTSans-Bold.woff") format("woff"), url("../../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../../fonts/PTSans-BoldItalic.woff") format("woff"), url("../../fonts/PTSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../../fonts/PTSans-Italick.woff") format("woff"), url("../../fonts/PTSans-Italick.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../../fonts/PTSans-Regular.woff") format("woff"), url("../../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background: #f7f7f7;
  font-family: 'PTSans', sans-serif;
}

:root {
  --bs-body-font-weight: 400;
  --bs-body-color: #334553;
  --bs-body-font-size: 1rem;
  --bs-body-font-family: 'PTSans', sans-serif;
  --bs-font-sans-serif: 'PTSans', sans-serif;
}

input::-webkit-autofill,
input::-webkit-contacts-auto-fill,
input::-webkit-credentials-auto-fill {
  opacity: 0 !important;
  /* Робить автозаповнення невидимим */
  background-color: transparent !important;
  color: inherit !important;
}

.filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #04254e;
  border-radius: 6px;
  outline: none;
}

.select2-container .select2-selection--single {
  height: 30px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #fff;
}

.select2-selection__rendered {
  padding: 5px 10px;
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  color: #111;
  min-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.20169 4.20114C0.932188 4.46841 0.932188 4.89932 1.20169 5.1666L5.77219 9.69932C5.98669 9.91205 6.33319 9.91205 6.54769 9.69932L11.1182 5.1666C11.3877 4.89932 11.3877 4.46841 11.1182 4.20114C10.8487 3.93387 10.4142 3.93387 10.1447 4.20114L6.15719 8.15023L2.16969 4.19569C1.90569 3.93387 1.46569 3.93387 1.20169 4.20114Z' fill='%23111111'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  position: static;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  margin-left: 0;
  margin-top: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 24px;
  width: 24px;
  position: absolute;
  top: calc(50% - 12px);
  right: 1px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-color: transparent;
  border-radius: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #51677B;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 6px;
}

.select2-container--open .select2-dropdown--below ul {
  background-color: #FFFFFF;
  border-radius: 6px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0062FF33;
  color: #334553;
  font-size: 14px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #0062FF33;
}

.select2-results__option[aria-selected] {
  background-color: #FFFFFF;
  color: #334553;
  font-size: 14px;
}

.select2-dropdown {
  border: none;
  -webkit-box-shadow: 0 16px 32px 0 #919EAB26, 0 2px 32px 0 #919EAB26;
          box-shadow: 0 16px 32px 0 #919EAB26, 0 2px 32px 0 #919EAB26;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 2px;
  padding-right: 8px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 8px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #C2CDD8;
}

.my-custom-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  cursor: pointer;
}

.my-custom-input input {
  display: none;
}

.my-custom-input input:checked + .my-custom-box:before {
  content: '';
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  z-index: 10;
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.43488 10C4.43221 10 4.42968 10 4.42701 10C4.08034 9.9975 3.75167 9.83931 3.52554 9.5657L0.29072 5.65267C-0.141816 5.12947 -0.085149 4.34017 0.416987 3.88976C0.919123 3.43935 1.67686 3.49823 2.10926 4.02129L4.44661 6.84863L9.90091 0.422143C10.34 -0.095215 11.0982 -0.143687 11.5948 0.313532C12.0913 0.770752 12.138 1.56075 11.6991 2.07797L5.33368 9.57792C5.10608 9.84639 4.77861 10 4.43488 10Z' fill='%23111111' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.my-custom-input .my-custom-box {
  position: relative;
  border: 1px solid #aaa;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background: #fff;
  display: inline-block;
}

.my-custom-input .my-custom-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #111;
}

.my-custom-input .my-custom-text::first-letter {
  text-transform: uppercase !important;
}

#photo-preview-popup {
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9999;
  display: none;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 10px;
  border-radius: 5px;
}

#photo-preview-popup img {
  max-width: 300px;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.modal#geoModal {
  --bs-modal-width: 1040px;
  --bs-modal-padding: 20px 20px 20px;
  --bs-modal-bg: #f7f7f7;
}

.modal#geoModal label,
.modal#geoModal .label {
  font-weight: 400;
  font-size: 14px;
  color: #111;
  line-height: 100%;
}

.modal#geoModal input {
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  outline: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #111;
}

.modal#geoModal input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.modal#geoModal .modal-title {
  font-weight: 400;
  font-size: 24px;
  color: #111;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: nowrap;
}

.select2-container--default .select2-selection--multiple {
  border: none;
  display: block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #fff;
  border-color: #3585F5;
  color: #3585F5;
  font-size: 14px;
  display: block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #3585F5;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: block;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #aaa;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}

.select2-container .select2-selection--multiple {
  min-height: 30px;
}

.custom-tooltip {
  --bs-tooltip-bg: #3585F5;
  --bs-tooltip-color: #fff;
}

.custom-tooltip-red {
  --bs-tooltip-bg: #fda9a9;
  --bs-tooltip-color: #000;
  text-wrap: nowrap;
  --bs-tooltip-max-width: auto;
}

.blue-select2 select,
.blue-select2 .select2-container .select2-selection--single {
  border-color: #e6f1ff;
  background-color: #e6f1ff;
}

.blue-select2 select,
.blue-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #3585f5 !important;
}

.blue-select2 select .select2-selection__placeholder,
.blue-select2 .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
  color: #3585f5 !important;
}

.blue-select2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.545438 0.207001C0.275938 0.474274 0.275938 0.905183 0.545438 1.17246L5.11594 5.70518C5.33044 5.91791 5.67694 5.91791 5.89144 5.70518L10.4619 1.17246C10.7314 0.905183 10.7314 0.474274 10.4619 0.207001C10.1924 -0.0602717 9.75794 -0.0602717 9.48844 0.207001L5.50094 4.15609L1.51344 0.201546C1.24944 -0.0602718 0.809438 -0.0602717 0.545438 0.207001Z' fill='%233585F5' /%3e%3c/svg%3e");
}

table.dataTable.hover > tbody > tr:hover > *,
table.dataTable.display > tbody > tr:hover > * {
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0);
}

table.dataTable.stripe > tbody > tr:nth-child(odd) > *,
table.dataTable.display > tbody > tr:nth-child(odd) > * {
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0);
}

.daterangepicker .drp-buttons .btn.btn-primary {
  --bs-btn-bg: #3585f5;
  --bs-btn-border-color: #3585f5;
  --bs-btn-hover-bg: #3585f5;
  --bs-btn-hover-border-color: #3585f5;
  --bs-btn-active-bg: #3585f5;
  --bs-btn-active-border-color: #3585f5;
  --bs-btn-disabled-bg: #3585f5;
  --bs-btn-disabled-border-color: #3585f5;
}

.daterangepicker td.in-range {
  background-color: #e6f1ff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #3585f5;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
  position: absolute;
  bottom: 8px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.link-icon-text {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-icon-text[data-disable] path {
  fill: #AAAAAA;
}

.link-icon-text[data-disable] > .text {
  color: #AAAAAA;
  border-color: #AAAAAA;
}

.link-icon-text > .text {
  text-wrap: nowrap;
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #3585f5;
  display: inline-block;
  border-bottom: 1px dashed #3585f5;
}

.data-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 107%;
}

.data-list > span {
  color: #111;
}

.data-list-counter {
  color: #3585f5;
}

.sidebar {
  max-width: 70px;
  width: 100%;
  min-height: 100vh;
  background-color: #04254E;
}

.sidebar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 23px 0;
  -webkit-box-shadow: inset 0 0 0 2px #04254E;
          box-shadow: inset 0 0 0 2px #04254E;
}

.sidebar-logo:hover {
  background-color: #FFFFFF1A;
  cursor: pointer;
}

.sidebar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  overflow-Y: auto;
  overflow-X: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar .nav::-webkit-scrollbar {
  width: 2px;
  padding-right: 8px;
}

.sidebar .nav::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 8px;
}

.sidebar .nav::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #C2CDD8;
}

.sidebar .nav-list {
  width: 100%;
  margin-bottom: 0;
}

.sidebar .nav-list-item {
  padding: 0;
}

.sidebar .nav-list-item:first-child .nav-list-link {
  background-color: #fff;
  padding-bottom: 23px;
}

.sidebar .nav-info {
  width: 100%;
  margin-bottom: 0;
}

.sidebar .nav-info-item {
  padding-bottom: 60px;
}

.sidebar .nav-info-item .dropdown .dropdown-toggle {
  width: 100%;
  border-radius: 0;
  --bs-btn-color: #FFFFFF;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #fffFFF1A;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
}

.sidebar .nav-info-item .dropdown .dropdown-toggle.show::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar .nav-info-item .dropdown-menu.show {
  min-width: 100%;
}

.login {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form {
  max-width: 274px;
  width: 100%;
}

.login-row .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.login-row .item-label {
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #111;
  margin-bottom: 6px;
}

.login-row .item-inputText {
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #111;
}

.login-row .item-inputText::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #aaa;
}

.login-row .item-inputText::-moz-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #aaa;
}

.login-row .item-inputText:-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #aaa;
}

.login-row .item-inputText::-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #aaa;
}

.login-row .item-inputText::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #aaa;
}

.login-row .item .link {
  --bs-link-color-rgb: #111111;
  font-weight: 700;
}

.login-row .item .btn {
  padding: 5px 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

.login-row .item .btn-outline-secondary {
  --bs-btn-color: #3585f5;
  --bs-btn-border-color: #3585f5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3585f5;
  --bs-btn-hover-border-color: #3585f5;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3585f5;
  --bs-btn-active-border-color: #3585f5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #AAAAAA;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #AAAAAA;
  --bs-gradient: none;
}

.login-row .item .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3585f5;
  --bs-btn-border-color: #3585f5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3585f5;
  --bs-btn-hover-border-color: #3585f5;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3585f5;
  --bs-btn-active-border-color: #3585f5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgba(255, 255, 255, 0.7);
  --bs-btn-disabled-bg: rgba(53, 133, 245, 0.7);
  --bs-btn-disabled-border-color: rgba(53, 133, 245, 0.7);
}

.login-row:last-of-type .item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 20px;
}

.login-row:last-of-type .item .btn {
  width: calc(50% - 10px);
}

@media screen and (max-width: 768px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sidebar {
    max-width: 100%;
    min-height: auto;
  }

  .sidebar-logo {
    padding: 10px 0;
    max-width: 110px;
  }

  .sidebar .nav {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-Y: visible;
    overflow-X: visible;
  }

  .sidebar .nav-list-item:first-child .nav-list-link {
    padding-bottom: 10px;
  }

  .sidebar .nav-info {
    width: auto;
  }

  .sidebar .nav-info-item {
    padding-bottom: 0;
  }

  .login {
    min-height: calc(100vh - 44px);
  }
}

@media screen and (max-width: 767px) {
  div.dt-container div.dt-layout-row:not(.dt-layout-table) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}