@charset "UTF-8";

/**
 * Common CRM styles
 */

/* Prevent page jump when scrollbar appears/disappears */
html {
    scrollbar-gutter: stable;
}
body.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}
